body{
  background-color: white
}

.centre {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
    color: lightgray;
  margin-left: 20px;
}
